<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
    <title>New Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
		<p>Adding a new book</p>
		<div>
            <Label>Title</Label>
			<input type="text" placeholder="title" th:field="*{title}" />
        </div>
		<div>
            <Label>Author</Label>
			<input type="text" placeholder="author" th:field="*{author}" />
        </div>
        <div>
            <Label>ISBN</Label>
			<input type="text" placeholder="isbn" th:field="*{isbn}" />
		</div>
        <div>
            <Label>Year</Label>
			<input type="text" placeholder="publicationYear" th:field="*{publicationYear}" />
		</div>
        <div>
            <Label>Price (€)</Label>
			<input type="text" placeholder="price" th:field="*{price}" />
		</div>
		<input type="submit" value="Save" />

	</form>  
</body>
