<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Muokkaa kirjan tietoja</h1>
	<div>
	<form th:object="${editBook}" th:action="@{/saveEditedBook}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		<div>
            <Label>Title</Label>
			<input type="text" placeholder="title" th:field="*{title}" />
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>	
        </div>
		<div>
            <Label>Author</Label>
			<input type="text" placeholder="author" th:field="*{author}" />
        </div>
        <div>
            <Label>ISBN</Label>
			<input type="text" placeholder="isbn" th:field="*{isbn}" />
		</div>
        <div>
            <Label>Year</Label>
			<input type="text" placeholder="publicationYear" th:field="*{publicationYear}" />
		</div>
        <div>
            <Label>Price (€)</Label>
			<input type="text" placeholder="price" th:field="*{price}" />
		</div>
		<div>
            <Label>Category</Label>
			<select placeholder="category" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
		</div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>